@using Microsoft.AspNetCore.Mvc.TagHelpers
<div class="text-center">
    <form asp-action="Processing" asp-controller="Checkout" method="post">
        <label class="text-center">Your payment went fine</label>
        Customer:@ViewBag.Customer
        Amount: @ViewBag.AmountPaid
    </form>
</div>